<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>17/05/24 19:01:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignOnPage_Test.test_signOn_page()[pri:0, instance:com.bestbuy.testing.tests.SignOnPage_Test@f736069]">test_signOn_page</td> 
  <td>main@1055096410</td>   <td></td> </tr>
<tr bgcolor="81a1bc">  <td>17/05/24 19:01:53</td>   <td>47147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountHomePage_Test.testAccountPage()[pri:0, instance:com.bestbuy.testing.tests.AccountHomePage_Test@4229bb3f]">testAccountPage</td> 
  <td>main@1055096410</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/24 19:02:03</td>   <td>57096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShippingAddress_Test.testShippingAddress()[pri:0, instance:com.bestbuy.testing.tests.ShippingAddress_Test@56cdfb3b]">testShippingAddress</td> 
  <td>main@1055096410</td>   <td></td> </tr>
<tr bgcolor="fee26c">  <td>17/05/24 19:02:11</td>   <td>65565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCardPage_Test.testCreditCardPage()[pri:0, instance:com.bestbuy.testing.tests.CreditCardPage_Test@2b91004a]">testCreditCardPage</td> 
  <td>main@1055096410</td>   <td></td> </tr>
</table>
